// // $main-color: #FEBF10;
// $main-color: #4ECDC4;
// // $background-color: #F9F7ED;
// $background-color: #F7FFF7;
// $green: #FFE66D;
// // $red: #CC0000;
// $red: #FF6B6B;

$main-color: #ff6b6b;
$background-color: #f7fff7;
$green: #4ecdc4;
$red: #ff6b6b;
$yellow: #ffe66d;
