html {
  height: 100%;
}

body {
  background-color: $background-color;
  // position: relative;
  min-height: 100%;
  font-family: 'Nunito';
  font-size: 18px; 
}

.content {
  margin-top: 60px;
  margin-bottom: 50px;
  // margin-left: 20px;
  // margin-right: 20px;
}

hr {
  margin: 5px;
}
