.poll-card {
 
  height: 380px;
  margin: 20px 10px;
  position: relative;
  overflow: hidden;
  // position: relative;
   @media all and (min-width: 768px) {
    height: 380px;
  }
  .poll-card__title {
    // position: absolute;
    // border: 2px solid black;
    // border-bottom: 1px solid #eee;

    // margin-bottom: 0px;
    // width: 100%;
    height: 80px;
    max-width: calc(100% - 30px);
    // bottom: 0px;
    // left: 0px;
    display: flex;
    align-items: center;
    p {
      color: $green;
      font-size: 22px;
      // display: block;
      // line-height: 30px;
      // white-space: nowrap;
       // text-overflow: ellipsis;
      // vertical-align:middle;
    }
a:hover {
      text-decoration: none;
    }

    // z-index: 2;
    // background-color: rgba(black, 0.7);
    padding: 10px 10px;
  }
  .poll-card__photo {
    // border: 2px solid black;
     background-color: #eee;
    position: relative;
    height: 255px;
    img {
      width: 100%;
      height: 100%;
      // position: absolute;
      object-fit: cover;
    }
  }
  .poll-card__info {
    // border-top: 1px solid #eee;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    p {
      display: inline-block;
      font-size: 14px;
      // margin: 8px;
      // vertical-align:middle;

    }
    button {
      // max-width: 30%;
      font-size: 14px;
      padding: 3px;
      height: 24px;
    }
  }
  transition: transform 0.6s ease;
  &:hover {
    // transform: scale(1.05);
  }
}

.col-sm-6 {
  padding-left: 0px;
  padding-right: 0px; 
}

.trash-icon {
  position: absolute;
  width: 20px;
  cursor: pointer;
  // font-weight: bold;
  background-color: white;
  top: 10px;
  right: 10px;
  // z-index: 3;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.5);
  }
}

.logo {
  color: $main-color;
    font-size: 25px;
    font-weight: bold;
    padding: auto;
    text-shadow: 1px 1px  grey;
    span {
      font-size: 80px;
    }
}

.delete-poll {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
