@import 'partials/navbar';
@import 'partials/content';

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-color: #f6f1fd;
  font-family: 'Nunito';
  font-size: 18px;
}
