@import 'partials/colors';
@import 'partials/loading';
@import 'partials/navbar';
@import 'partials/content';
@import 'partials/profile';
@import 'partials/login';



@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  background-color: $background-color;
  font-family: 'Nunito';
  font-size: 18px; 
}
